In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:

# MongoDB connection
client = MongoClient("mongodb+srv://pranavibillakanti:Sweety1904@cluster0.wy5iu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client["hotel_data"]

In [3]:
# Load CSV datasets
booking_df = pd.read_excel(r"C:\Users\pranavibillakanti\OneDrive\Desktop\training_and_features\bookings (1).xlsx")
dining_df = pd.read_excel(r"C:\Users\pranavibillakanti\OneDrive\Desktop\training_and_features\hotel guest\dining_info.xlsx")
reviews_df = pd.read_excel(r"C:\Users\pranavibillakanti\OneDrive\Desktop\training_and_features\reviews_data.xlsx")

In [4]:
# Convert DataFrames to JSON
booking_data = booking_df.to_dict(orient="records")
dining_data = dining_df.to_dict(orient="records")
reviews_data = reviews_df.to_dict(orient="records")

In [26]:
# Insert data into MongoDB collections
db["booking_data"].insert_many(booking_data)
db["dining_info"].insert_many(dining_data)
db["reviews_data"].insert_many(reviews_data)

print("Data successfully loaded into MongoDB!")

Data successfully loaded into MongoDB!

In [27]:
# Fetch data from MongoDB
def fetch_data(collection_name):
    collection = db[collection_name]
    return pd.DataFrame(list(collection.find()))

In [28]:
# Load data into Pandas DataFrames
booking_df = fetch_data("booking_data")
dining_df = fetch_data("dining_info")
reviews_df = fetch_data("reviews_data")

In [8]:
# Data Cleaning
def clean_data(df, date_columns=[], numeric_columns=[]):
    df.drop(columns=["_id"], errors="ignore", inplace=True)  # Remove MongoDB ID field
    for col in date_columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")  # Convert to numeric
    df.fillna(method="ffill", inplace=True)  # Handle missing values
    return df

In [10]:
def clean_data(df, date_columns, numeric_columns):
    """Cleans the dataset by handling missing values and converting data types."""
    df[date_columns] = df[date_columns].apply(pd.to_datetime, errors='coerce')  # Convert to datetime
    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')  # Convert to numeric

    df.ffill(inplace=True)  # Forward fill missing values
    return df

In [11]:
# Clean data
booking_df = clean_data(booking_df, ["check_in_date", "check_out_date"], ["age", "number_of_stayers"])
dining_df = clean_data(dining_df, ["check_in_date", "check_out_date", "order_time"], ["age", "number_of_stayers", "price_for_1", "Qty"])
reviews_df = clean_data(reviews_df, ["review_date"], ["Rating"])

print("Data cleaned successfully!")

Data cleaned successfully!

In [12]:
booking_df

,_id,Unnamed: 0,customer_id,Preferred Cusine,age,number_of_stayers,check_in_date,check_out_date,booked_through_points
0,67d50e0a115418afdff82e10,0,91,South Indian,31,1,2025-03-03,2025-10-03,0
1,67d50e0a115418afdff82e11,1,92,South Indian,21,2,2025-08-05,2025-10-05,0
2,67d50e0a115418afdff82e12,2,93,North Indian,48,2,2025-08-05,2025-10-05,1
3,67d50e0a115418afdff82e13,3,94,South Indian,25,3,2025-08-05,2025-03-03,0
4,67d50e0a115418afdff82e14,4,95,North Indian,22,1,2025-08-04,2025-11-04,0
...,...,...,...,...,...,...,...,...,...
20189,67d5112fdf8f288bf6fb7580,9995,23,South Indian,30,1,2024-09-10,2024-10-10,0
20190,67d5112fdf8f288bf6fb7581,9996,12,North Indian,35,1,2024-09-10,2024-10-10,0
20191,67d5112fdf8f288bf6fb7582,9997,13,South Indian,45,1,2024-09-10,2024-10-10,0
20192,67d5112fdf8f288bf6fb7583,9998,3,South Indian,28,3,2023-01-02,2023-06-02,0
20193,67d5112fdf8f288bf6fb7584,9999,19,Multi,32,1,2024-07-09,2024-09-09,0

In [13]:
dining_df

,_id,Unnamed: 0,transaction_id,customer_id,Preferred Cusine,age,dish,Qty,price_for_1,number_of_stayers,check_in_date,check_out_date,order_time,booked_through_points
0,67d50e11115418afdff85581,0,3594217,91,South Indian,31,Filter Coffee,2,80,1,2023-08-07,2023-08-10 18:33:11,2023-08-09 03:40:45,0
1,67d50e11115418afdff85582,1,10163344,92,South Indian,21,Chocolate Cake,2,200,2,2023-08-08,2023-08-10 04:10:06,2023-08-08 19:20:37,0
2,67d50e11115418afdff85583,2,12292432,93,North Indian,48,Breakfast thali,1,500,2,2023-11-15,2023-11-17 08:21:37,2023-11-15 14:01:51,1
3,67d50e11115418afdff85584,3,13757710,94,South Indian,25,Roti Curry,3,100,3,2024-03-31,2024-04-03 09:35:00,2024-03-31 11:17:37,0
4,67d50e11115418afdff85585,4,10762656,95,North Indian,22,Filter Coffee,1,80,1,2024-04-08,2024-04-11 02:22:57,2024-04-10 23:00:56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,67d51135df8f288bf6fb9c90,9995,6513286,23,South Indian,30,Filter Coffee,1,80,1,2024-10-09,2024-10-10 21:11:26,2024-10-10 16:27:09,0
19996,67d51135df8f288bf6fb9c91,9996,4578482,12,North Indian,35,Roti Curry,1,100,1,2023-07-20,2023-07-21 12:39:56,2023-07-20 06:28:37,0
19997,67d51135df8f288bf6fb9c92,9997,1394756,13,South Indian,45,Palak Paneer,2,250,1,2023-07-26,2023-07-29 18:12:23,2023-07-28 03:08:27,0
19998,67d51135df8f288bf6fb9c93,9998,6277632,3,South Indian,28,Roti Curry,3,100,3,2023-02-01,2023-02-06 07:30:00,2023-02-02 15:28:08,0
19999,67d51135df8f288bf6fb9c94,9999,11933037,19,Multi,32,Masala Dosa,1,150,1,2024-09-07,2024-09-09 19:30:07,2024-09-09 05:10:01,0

In [14]:
reviews_df

,_id,review_id,customer_id,review_date,Review,Rating,review_date_numeric,staying_now
0,67d50e18115418afdff87c91,11722,5380,2024-11-04,The room provided at first was a great disapp...,6.7,20241104,NaN
1,67d50e18115418afdff87c92,8604,8832,2024-03-01,The room wasn t so large for a Deluxe King bu...,9.6,20240301,NaN
2,67d50e18115418afdff87c93,3923,7301,2023-09-04,on arrival we had to wait over an hour after ...,7.1,20230904,NaN
3,67d50e18115418afdff87c94,10050,3968,2023-09-02,The room reminded me of a dorm room furnished...,7.9,20230902,NaN
4,67d50e18115418afdff87c95,2077,6085,2024-05-17,The room was very small the AC didn t work at...,8.8,20240517,NaN
...,...,...,...,...,...,...,...,...
16765,67d5113cdf8f288bf6fbbd51,6816,8542,2024-09-01,The hotel is very old Room are out of date an...,4.2,20240901,No
16766,67d5113cdf8f288bf6fbbd52,3429,1971,2024-10-15,The staff members were very friendly and hel...,10.0,20241015,No
16767,67d5113cdf8f288bf6fbbd53,98033,32,2024-10-15,Food is very good.,8.0,20250304,No
16768,67d5113cdf8f288bf6fbbd54,577758,32,2024-10-15,Food is very good.,8.0,20250304,No
16769,67d5113cdf8f288bf6fbbd55,1091639,54,2024-10-15,The service of the staff is very impresive.,9.0,20250308,No

In [2]:
import pandas as pd
import plotly.express as px
from dash import Dash, dcc, html
from dash.dependencies import Input, Output

# Load data from MongoDB
booking_df = pd.DataFrame(list(db["booking_data"].find()))

# Data Cleaning
booking_df.drop(columns=["_id"], errors="ignore", inplace=True)
booking_df["check_in_date"] = pd.to_datetime(booking_df["check_in_date"], errors="coerce")
booking_df["check_out_date"] = pd.to_datetime(booking_df["check_out_date"], errors="coerce")
booking_df["length_of_stay"] = (booking_df["check_out_date"] - booking_df["check_in_date"]).dt.days

# Handle missing values
booking_df = booking_df.dropna(subset=["check_in_date", "check_out_date", "length_of_stay"]).copy()

# Compute weekly/monthly stay
booking_df["week"] = booking_df["check_in_date"].dt.to_period("W").apply(lambda r: r.start_time)
booking_df["month"] = booking_df["check_in_date"].dt.to_period("M").apply(lambda r: r.start_time)

app = Dash(__name__)

# App Layout
app.layout = html.Div([
    html.H1("Hotel Booking Dashboard", style={"textAlign": "center"}),

    html.Div([
        html.Label("Select Preferred Cuisine:"),
        dcc.Dropdown(
            id="cuisine_filter",
            options=[{"label": c, "value": c} for c in sorted(booking_df["Preferred Cusine"].dropna().unique())],
            value=[],
            multi=True,
            placeholder="Select one or more cuisines"
        ),
        html.Br(),
        html.Label("Select Date Range (Check-in Date):"),
        dcc.DatePickerRange(
            id="date_range",
            min_date_allowed=booking_df["check_in_date"].min().date(),
            max_date_allowed=booking_df["check_in_date"].max().date(),
            start_date=booking_df["check_in_date"].min().date(),
            end_date=booking_df["check_in_date"].max().date()
        )
    ], style={"width": "50%", "margin": "auto"}),

    html.Br(),
    
    html.Div([
        dcc.Graph(id="bookings_per_day"),
        dcc.Graph(id="cuisine_trend"),
        dcc.Graph(id="age_distribution"),
        dcc.Graph(id="weekly_avg_stay"),
        dcc.Graph(id="monthly_avg_stay"),
        dcc.Graph(id="booking_method_pie")
    ])
])

# Callback for updating graphs based on filters
@app.callback(
    [
        Output("bookings_per_day", "figure"),
        Output("cuisine_trend", "figure"),
        Output("age_distribution", "figure"),
        Output("weekly_avg_stay", "figure"),
        Output("monthly_avg_stay", "figure"),
        Output("booking_method_pie", "figure")
    ],
    [
        Input("cuisine_filter", "value"),
        Input("date_range", "start_date"),
        Input("date_range", "end_date")
    ]
)
def update_dashboard(selected_cuisines, start_date, end_date):
    dff = booking_df.copy()

    # Apply cuisine filter
    if selected_cuisines:
        dff = dff[dff["Preferred Cusine"].isin(selected_cuisines)]

    # Apply date range filter
    if start_date and end_date:
        start = pd.to_datetime(start_date)
        end = pd.to_datetime(end_date)
        dff = dff[(dff["check_in_date"] >= start) & (dff["check_in_date"] <= end)]

    # Bookings per day
    bookings_daily = dff.groupby(dff["check_in_date"].dt.date).size().reset_index(name="bookings")
    fig1 = px.line(bookings_daily, x="check_in_date", y="bookings", title="Bookings Per Day", markers=True)

    # Cuisine trend over time
    cuisine_daily = dff.groupby([dff["check_in_date"].dt.date, "Preferred Cusine"]).size().reset_index(name="count")
    fig2 = px.bar(cuisine_daily, x="check_in_date", y="count", color="Preferred Cusine", title="Cuisine Trend Over Time")

    # Age distribution of customers
    fig3 = px.histogram(dff, x="age", nbins=20, title="Age Distribution of Customers")

    # Weekly average stay duration
    weekly_avg = dff.groupby("week")["length_of_stay"].mean().reset_index()
    fig4 = px.scatter(weekly_avg, x="week", y="length_of_stay", title="Weekly Average Stay Duration",
                      labels={"week": "Week", "length_of_stay": "Avg Stay Duration (Days)"})

    # Monthly average stay duration
    monthly_avg = dff.groupby("month")["length_of_stay"].mean().reset_index()
    fig5 = px.line(monthly_avg, x="month", y="length_of_stay", title="Monthly Average Stay Duration",
                   labels={"month": "Month", "length_of_stay": "Avg Stay Duration (Days)"})

    # Booking method distribution (Points vs Cash)
    method_counts = dff["booked_through_points"].value_counts().reset_index()
    method_counts.columns = ["booked_through_points", "count"]
    method_counts["booking_method"] = method_counts["booked_through_points"].apply(lambda x: "Points" if x == 1 else "Cash")
    fig6 = px.pie(method_counts, names="booking_method", values="count", title="Booking Method Distribution")

    return fig1, fig2, fig3, fig4, fig5, fig6


if __name__ == "__main__":
    app.run_server(debug=True, port=8040)

In [22]:
print(dining_df.columns)

RangeIndex(start=0, stop=0, step=1)

In [29]:
import dash
from dash import dcc, html, Input, Output
import plotly.express as px
import pandas as pd

# Fetch data from MongoDB
dining_df = pd.DataFrame(list(db["dining_info"].find()))

# Data Cleaning
dining_df.drop(columns=["_id"], errors="ignore", inplace=True)
dining_df["order_time"] = pd.to_datetime(dining_df["order_time"], errors="coerce")
dining_df["date"] = dining_df["order_time"].dt.date  # Extract date

# Dash App Initialization
app = dash.Dash(__name__)

# App Layout
app.layout = html.Div([
    html.H1("Dining Insights Dashboard", style={"textAlign": "center", "color": "#007BFF"}),

    # Date Picker
    html.Div([
        html.Label("Select Date Range:"),
        dcc.DatePickerRange(
            id="date-picker",
            start_date=dining_df["date"].min(),
            end_date=dining_df["date"].max(),
            display_format="YYYY-MM-DD",
        ),
    ], style={"margin-bottom": "20px"}),

    html.Div([
        dcc.Graph(id="cuisine-chart"),
        dcc.Graph(id="customer-trend"),
        dcc.Graph(id="top-dishes"),
    ], style={"display": "grid", "grid-template-columns": "1fr 1fr", "gap": "20px"}),
])


# Callback Function to Update Graphs Based on Selected Date Range
@app.callback(
    [Output("cuisine-chart", "figure"),
     Output("customer-trend", "figure"),
     Output("top-dishes", "figure")],
    [Input("date-picker", "start_date"),
     Input("date-picker", "end_date")]
)
def update_charts(start_date, end_date):
    filtered_df = dining_df[(dining_df["date"] >= pd.to_datetime(start_date).date()) &
                            (dining_df["date"] <= pd.to_datetime(end_date).date())]

    # Chart 1: Average Dining Cost by Cuisine
    if not filtered_df.empty:
        fig1 = px.pie(
            filtered_df, names="Preferred Cusine", values="price_for_1",
            title="Average Dining Cost by Cuisine",
            color_discrete_sequence=px.colors.qualitative.Dark24
        )
    else:
        fig1 = px.pie(title="No Data Available for Selected Date Range")

    # Chart 2: Customer Count Over Time
    customer_count = filtered_df.groupby("date")["customer_id"].nunique().reset_index()
    if not customer_count.empty:
        fig2 = px.line(
            customer_count, x="date", y="customer_id",
            title="Customer Count Over Time",
            markers=True, line_shape="spline",
            color_discrete_sequence=["#FF5733"]
        )
    else:
        fig2 = px.line(title="No Data Available for Selected Date Range")

    # Chart 3: Top 5 Most Ordered Dishes
    top_dishes = filtered_df["dish"].value_counts().nlargest(5).reset_index()
    top_dishes.columns = ["Dish", "Count"]
    if not top_dishes.empty:
        fig3 = px.bar(
            top_dishes, x="Dish", y="Count",
            title="Top 5 Most Ordered Dishes",
            color="Dish", color_discrete_sequence=px.colors.sequential.Sunsetdark
        )
    else:
        fig3 = px.bar(title="No Data Available for Selected Date Range")

    return fig1, fig2, fig3


# Run the App
if __name__ == "__main__":
    app.run_server(debug=True, port=8050)

In [8]:
import dash
from dash import dcc, html, Input, Output
import plotly.express as px
import pandas as pd
import numpy as np
from pymongo import MongoClient

# MongoDB Connection (Replace with your details)
client = MongoClient("mongodb://localhost:27017/")
db = client["your_database_name"]  # Change to your actual DB name

# Fetch data from MongoDB
reviews_df = pd.DataFrame(list(db["reviews_data"].find()))

# Data Cleaning
reviews_df.drop(columns=["_id"], errors="ignore", inplace=True)

# Ensure 'Rating' column exists before conversion
if "Rating" in reviews_df.columns:
    reviews_df['Rating'] = pd.to_numeric(reviews_df["Rating"], errors="coerce")
else:
    print("Column 'Rating' not found!")

# Ensure 'review_date' exists and convert to datetime
if "review_date" in reviews_df.columns:
    reviews_df["review_date"] = pd.to_datetime(reviews_df["review_date"], errors="coerce")
else:
    print("Column 'review_date' not found!")

# Dash App Initialization
app = dash.Dash(__name__)

# App Layout
app.layout = html.Div([
    html.H1("Hotel Reviews Analysis", style={"textAlign": "center", "color": "#121212", "backgroundColor": "#FFFFFF", "padding": "15px", "borderRadius": "10px"}),

    html.Div([
        html.Label("Select Date Range:"),
        dcc.DatePickerRange(
            id="date-picker",
            start_date=reviews_df["review_date"].min(),
            end_date=reviews_df["review_date"].max(),
            display_format="YYYY-MM-DD"
        )
    ], style={"margin-bottom": "20px"}),

    html.Div([
        dcc.Graph(id="rating-distribution"),
        dcc.Graph(id="top-reviewers")
    ], style={"display": "grid", "grid-template-columns": "1fr 1fr", "gap": "20px", "backgroundColor": "#FFFFFF", "padding": "20px"})
])

# Callback to update graphs based on selected date range
@app.callback(
    [Output("rating-distribution", "figure"),
     Output("top-reviewers", "figure")],
    [Input("date-picker", "start_date"),
     Input("date-picker", "end_date")]
)
def update_charts(start_date, end_date):
    filtered_df = reviews_df[(reviews_df["review_date"] >= pd.to_datetime(start_date)) &
                             (reviews_df["review_date"] <= pd.to_datetime(end_date))]
    
    # Chart 1: Rating Distribution Histogram
    fig1 = px.histogram(
        filtered_df, x='Rating',
        title="Distribution of Ratings",
        nbins=5, color_discrete_sequence=["#FF8C00"]
    ) if not filtered_df.empty else px.histogram(title="No Data Available")
    
    # Chart 2: Top 5 Reviewers
    if "customer_id" in filtered_df.columns:
        top_reviewers = filtered_df["customer_id"].value_counts().nlargest(5).reset_index()
        top_reviewers.columns = ["Customer ID", "Review Count"]
        fig2 = px.bar(
            top_reviewers, x="Customer ID", y="Review Count",
            title="Top 5 Reviewers",
            color="Customer ID", color_discrete_sequence=px.colors.qualitative.Dark24
        ) if not top_reviewers.empty else px.bar(title="No Data Available")
    else:
        fig2 = px.bar(title="No Customer Data")

    return fig1, fig2

if __name__ == "__main__":
    app.run_server(debug=True, port=8061)  # Change the port number if needed